h1,
h2,
h3,
p {
  font-family: "Helvetica";
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url('Images/pattern.webp');
  text-align: center;
}

.item h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price {
    font-weight: bold;
    color: blue;
}

#Brushes {
    background-color: mediumspringgreen;
}

#Frames {
    background-color: lightcoral;
}

#Paint {
    background-color: skyblue;
}